Django==4.1
djangorestframework==3.14.0
jieba==0.42.1
mkdocs==1.4.2
mkdocs-material==9.1.8
bs4==0.0.1
chardet==5.1.0  
arrow==1.2.3  
pymongo==4.3.3 
django-filter==23.2
numpy~=1.24.3
gensim=4.3.0
beautifulsoup4~=4.12.2
redis~=4.5.5
mongoengine~=0.27.0